.navs{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    color:white;
    padding: 7px 17px;
    transition: 0.5s;
}
.navs1{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 7px 17px;
}
.navs:hover{
    background-color: white;
    color: black;
}
.navs1:hover{
    color: black;
}
.navbr{
    font-weight: 600;
    font-size: 30px;
}
.fas{
    color: white;
    font-size: 45px;
}